body {
  min-height: 100vh;
}

.container {
  padding-top: 24px;
  padding-bottom: 48px;
  max-width: 960px !important;
}

.container.is-form {
  max-width: 450px !important ;
}

.modal-content {
  max-width: 80%;
}

.recipe-info-item {
  position: relative;
  margin-bottom: 16px;
  padding-left: 36px;
  line-height: 1;
}

.recipe-info-item .recipe-info-item__icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1rem;
}

.card.is-loading {
  animation-name: card-is-loading;
  animation-duration: 3.5s;
  opacity: 1;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader.is-ib {
  display: inline-block;
}

.loader.is-large {
  height: 4rem;
  width: 4rem;
}

@keyframes card-is-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
