body {
  min-height: 100vh;
}

.container {
  max-width: 960px !important;
}

.container.is-form {
  max-width: 450px !important ;
}

.card .card-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-content {
  max-width: 80%;
}

.recipe-info-item {
  position: relative;
  margin-bottom: 16px;
  padding-left: 36px;
  line-height: 1;
}

.recipe-info-item .recipe-info-item__icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1rem;
}

.card.is-loading {
  animation-name: card-is-loading;
  animation-duration: 3.5s;
  opacity: 1;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader.is-ib {
  display: inline-block;
}

.loader.is-medium {
  height: 2.5rem;
  width: 2.5rem;
}

.loader.is-large {
  height: 4rem;
  width: 4rem;
}

.file .file-cta {
  min-height: 72px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

.file .file-icon {
  margin-right: 0;
  height: 2em !important;
  width: 2em !important;
}

.vertical-divider {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 18px;
  vertical-align: text-bottom;
}

.vertical-divider:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: 50%;
  background-color: #7a7a7a;
}

.square-image {
  width: 120px;
  height: 120px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #dbdbdb;
}

.square-image.is-rounded {
  border-radius: 50%;
}

.hero-body {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

@media screen and (max-width: 767px) {
  .hero-container.with-image {
    text-align: center;
  }

  .hero-image {
    display: inline-block;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .hero-container.with-image {
    display: flex;
    align-items: center;
  }

  .hero-image {
    margin-right: 24px;
  }
}

/* Utility Classes */
.va-b {
  vertical-align: bottom;
}

@keyframes card-is-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
